<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>logincontroller</servlet-name>
  	<display-name>logincontroller</display-name>
  	<description></description>
  	<servlet-class>pro.java.dashboard.web.logincontroller</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>usercontroller</servlet-name>
  	<display-name>usercontroller</display-name>
  	<description></description>
  	<servlet-class>pro.java.dashboard.web.usercontroller</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>mainpagecontroller</servlet-name>
  	<display-name>mainpagecontroller</display-name>
  	<description></description>
  	<servlet-class>pro.java.dashboard.web.mainpagecontroller</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>updatecontroller</servlet-name>
  	<display-name>updatecontroller</display-name>
  	<description></description>
  	<servlet-class>pro.java.dashboard.web.updatecontroller</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>addnotebookcontroller</servlet-name>
  	<display-name>addnotebookcontroller</display-name>
  	<description></description>
  	<servlet-class>pro.java.dashboard.web.addnotebookcontroller</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>editcontroller</servlet-name>
  	<display-name>editcontroller</display-name>
  	<description></description>
  	<servlet-class>pro.java.dashboard.web.editcontroller</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>deletecontroller</servlet-name>
  	<display-name>deletecontroller</display-name>
  	<description></description>
  	<servlet-class>pro.java.dashboard.web.deletecontroller</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>savenamecontroller</servlet-name>
  	<display-name>savenamecontroller</display-name>
  	<description></description>
  	<servlet-class>pro.java.dashboard.web.savenamecontroller</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>addnotecontroller</servlet-name>
  	<display-name>addnotecontroller</display-name>
  	<description></description>
  	<servlet-class>pro.java.dashboard.web.addnotecontroller</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>notescontroller</servlet-name>
  	<display-name>notescontroller</display-name>
  	<description></description>
  	<servlet-class>pro.java.dashboard.web.notescontroller</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>displaynotescontroller</servlet-name>
  	<display-name>displaynotescontroller</display-name>
  	<description></description>
  	<servlet-class>pro.java.dashboard.web.displaynotescontroller</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>notedetailscontroller</servlet-name>
  	<display-name>notedetailscontroller</display-name>
  	<description></description>
  	<servlet-class>pro.java.dashboard.web.notedetailscontroller</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>deletenotecontroller</servlet-name>
  	<display-name>deletenotecontroller</display-name>
  	<description></description>
  	<servlet-class>pro.java.dashboard.web.deletenotecontroller</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>editnotecontroller</servlet-name>
  	<display-name>editnotecontroller</display-name>
  	<description></description>
  	<servlet-class>pro.java.dashboard.web.editnotecontroller</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>updatenotecontroller</servlet-name>
  	<display-name>updatenotecontroller</display-name>
  	<description></description>
  	<servlet-class>pro.java.dashboard.web.updatenotecontroller</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>logout</servlet-name>
  	<display-name>logout</display-name>
  	<description></description>
  	<servlet-class>pro.java.dashboard.web.logout</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>logincontroller</servlet-name>
  	<url-pattern>/logincontroller</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>usercontroller</servlet-name>
  	<url-pattern>/usercontroller</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>mainpagecontroller</servlet-name>
  	<url-pattern>/mainpagecontroller</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>updatecontroller</servlet-name>
  	<url-pattern>/updatecontroller</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>addnotebookcontroller</servlet-name>
  	<url-pattern>/addnotebookcontroller</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>editcontroller</servlet-name>
  	<url-pattern>/editcontroller</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>deletecontroller</servlet-name>
  	<url-pattern>/deletecontroller</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>savenamecontroller</servlet-name>
  	<url-pattern>/savenamecontroller</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>addnotecontroller</servlet-name>
  	<url-pattern>/addnotecontroller</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>notescontroller</servlet-name>
  	<url-pattern>/notescontroller</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>displaynotescontroller</servlet-name>
  	<url-pattern>/displaynotescontroller</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>notedetailscontroller</servlet-name>
  	<url-pattern>/notedetailscontroller</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>deletenotecontroller</servlet-name>
  	<url-pattern>/deletenotecontroller</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>editnotecontroller</servlet-name>
  	<url-pattern>/editnotecontroller</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>updatenotecontroller</servlet-name>
  	<url-pattern>/updatenotecontroller</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>logout</servlet-name>
  	<url-pattern>/logout</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
        <welcome-file>login.jsp</welcome-file>
    </welcome-file-list>
</web-app>